Repository ministryofjustice/serve-opg, pull requests merged in 2023-06, with the labels that each got.

#568 SER-208: Download reports of orders served and not served
  serve-web/src/Controller/ReportController.php
  serve-web/src/DataFixtures/adminUsers.yaml
  serve-web/src/Repository/OrderRepository.php
  serve-web/src/Service/ReportService.php
  serve-web/templates/Report/report.html.twig
  serve-web/tests/Service/ReportServiceTest.php
Labels: web

#569 SER-210 - Provision Cloud9
  terraform/cloud9.tf
  terraform/locals.tf
Labels: infrastructure

#570 SER-207: Attach document bug
  serve-web/src/Service/File/Checker/FileCheckerFactory.php
Labels: web

#566 SER-209 - add requirements.txt for ci_ingress
  .github/workflows/behat.yml
  scripts/ci_ingress/ci_ingress.py
  scripts/ci_ingress/requirements.txt
Labels: pipeline, scripts

#571 SER-186 - update action dependencies
  .github/workflows/behat.yml
  .github/workflows/containers.yml
  .github/workflows/deploy.yml
  terraform/s3.tf
Labels: pipeline, infrastructure
